<!doctype html>
<html>
<script src="/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    var socket = io();

    $(document).ready(function() {
        $('#send').click(function() {
            socket.emit('guess', $('#letter').val());
            $('#letter').val(''); // clear letter value
            return false;
        });

        $('#undo').click(function() {
            socket.emit('undo');
            return false;
        });

        socket.on('display-progress', function(progress) {
            $('#displayProgress').text(progress);
        });

        socket.on('set-num-guesses', function(numGuesses) {
            $('#numguesses').text(numGuesses);
        });

        socket.on('update-query', function(query) {
            if (window.history.pushState) {
                var newurl = window.location.origin + window.location.pathname + query;
                window.history.pushState({ path: newurl }, '', newurl);
            }
        });
    });
</script>

<head>
    <title>Hangman</title>
</head>

<body>
    <h3>Hangman</h1>

    <h2 id="displayprogress"></h3>

    <p>Remaining guesses: <div id="numguesses">remainingGuesses</div></p>

    <form action="">
         Enter letter:<br>
         <input id="letter" type="text" name="letter" maxlength="1"><br><br>
         <input id="send" type="button" value="Send">
         <input id="undo" type="button" value="Undo">
    </form>
</body>
</html>

